@model IEnumerable<CurdWithMongoDb.Models.ItemMaster>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateProduct">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatagoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemKeyword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemImage)
            </th>          
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatagoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemKeyword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemImage)
            </td>                      
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.ItemId  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.ItemId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.ItemId  })
            </td>
        </tr>
}
    </tbody>
</table>
